celery
Django
djangorestframework
django-cors-headers
django-celery-results
django-celery-beat
django-filter
django_yamlconf
easy-thumbnails
marshmallow
petl
parameterized
Pillow
python-dateutil
requests
redis
tqdm

pytest
pytest-django
factory-boy
freezegun
pytz

ipdb
black
